body{
	background-image: url("img/IMG_6872.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
div#all{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	position:relative;
}
html{
	overflow-y:scroll;
}

header{
	position: fixed;
	top: 0;
	left: auto;
	z-index: 9999;
	width:600px;
}
.page-title{
	width:480px;
	margin: 0.5em auto 0.5em auto;
	padding: 0;
	font-family: 'Pompiere', serif;
	font-size: 3em;
}

div#body{
	margin: 105px 0 0 0;
	padding: 0.5em 0 1em 0;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

.balloon-wrapper {
	position: absolute;
	top: 110px;
	left: 650px;
}
.balloon-box {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	height: 40px;
	width: 150px;
	border-radius: 10px;
	font-family: 'Pompiere', serif;
	font-size: 1.5em;
	line-height: 40px;
	display: inline;
	vertical-align: middle;
	text-align: center;
}
.balloon-box:after {
	content: '';
	position: absolute;
	border-bottom: 10px solid rgba(255, 255, 255, 0.5);
	border-right: 5px solid rgba(255, 255, 255, 0);
	border-left: 5px solid rgba(255, 255, 255, 0);
	top: -10px;
	left: 100px;
}

section{
	margin: 0 0 0 0.5em;
	padding: 0;
}
section h1{
	margin: 0 0 0.75em 0;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
}

footer{
	margin: 5em 0 0 0;
	padding: 0;
}

dl{
	margin: 0 0 1em 1.5em;
	padding: 0;
}
dt{
	margin: 0 0 1em 0;
	padding: 0.3em 0 0.3em 0.5em;
	display: list-item;
	list-style-type: decimal;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}
dd{
	margin: 0 0 2em 1.5em;
	padding: 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
}

footer table .col1{
	font-family: 'Cabin', sans-serif;
	font-size: 0.85em;
}
footer table .col2{
}
