@charset "utf-8";
.cf {
	zoom: 1;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}

body {
	width: 100%;
	background-color:#ffffff;
	color: #000000;
	margin: 1em 0 0 0;
}
body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

header {
	text-align: center;
}
header h1 {
	margin: 0 0 0.2em 0;
	padding: 0;
	font-family: 'Pompiere', serif;
	font-size: 1.5em;
}
header p {
	margin: 0;
	padding: 0;
}
header p img {
	width: 100%;
	height: auto;
	max-width: 983px;
}

div#contens {
	margin: 1.5em 0 1.5em 0;
	padding: 0 0 0 0;
	min-height: 500px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

section {
	margin: 0 0 2.0em 0;
	padding: 0;
}
section h1 {
	margin: 0 2% 1em 2%;
	padding: 0.3em 0 0 0;
	font-family: 'Cabin', sans-serif;
	font-size: 1em;
	border-top: solid 1px #ff7f0e;
}

article.entry {
	width: 90%;
	min-width: 150px;
	max-width: 500px;
	min-height: 140px;
	margin: 0 auto 1.2em auto;
	padding: 0.5em 0.7% 0.5em 0.7%;
	border: 1px solid #b3b3b3;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
article.entry h2 {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	display: flex;
}
article.entry h2 a {
	margin: 0 0 0 0.3em;
	padding: 0;
	text-decoration: none;
}
article.entry h2 a.JS {
	color: #0000ff;
}
article.entry h2 a.P5 {
	color: #2ca02c;
}
article.entry h2 .tag {
	font-size: 0.6em;
	color: #ffffff;
	border-radius: 7px;
	margin: 0 0.25em 0 0.25em;
	padding: 0.2em 0.3em 0.2em 0.3em;
	vertical-align: middle;
}
article.entry h2 .tagJS {
	background-color: #0000ff;
}
article.entry h2 .tagP5 {
	background-color: #2ca02c;
}

article.entry p {
	margin: 0.5em 0 0 1em;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9em;
	line-height: 1.2;
}
article.entry p.date {
	font-size: 0.78em;
	margin-left: 1.3em;
}
article.entry p.note {
	font-size: 0.78em;
	margin-left: 1.3em;
}

article.entry a {
	margin: 0 0 0 1em;
	padding: 0;
	display: inline-block;
}
article.entry img {
	max-width: 224px;
	height: auto;
	margin: 1em 0 0 0;
}

footer {
	margin: 1em 0 1em 0;
	padding: 0;
}
footer div.img {
	text-align: center;
	margin: 0 0 0.5em 0;
	padding: 0;
}
footer dl {
	width: 300px;
	margin: 0 auto 0 auto;
	padding: 0;
}
footer dl dt {
	float: left;
	clear: both;
	margin: 0 0 0.5em 0;
	padding: 0 0 0 0.5em;
	width: 90px;
	font-family: 'Cabin', sans-serif;
	font-size: 0.85em;
	border-left: solid 3px #ff7f0e;
}
footer dl dd {
	margin: 0 0 0.5em 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.85em;
}
footer div.tweet {
	width: 300px;
	margin: 1em auto 1em auto;
	padding: 0;
}

@media only screen and (min-width: 320px) {
	header h1 {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 360px) {
	header h1 {
		font-size: 2em;
	}
}

@media only screen and (min-width: 500px) {
	header h1 {
		font-size: 2.5em;
	}
	section h1 {
		font-size: 1.3em;
	}
}

@media only screen and (min-width: 860px) {
	div#all {
		max-width: 1024px;
		margin: 0 auto 0 auto;
		padding: 0;
	}
	html {
		overflow-y: scroll;
	}

	header h1 {
		font-size: 3em;
	}
	section {
		margin: 0 0 1.5em 0;
	}
	article.entry {
		width: 29%;
		margin: 0 0 1.2em 2%;
		min-height: 140px;
		display: inline-block;
		vertical-align: top;
	}
}
